* {
  box-sizing: border-box;
  color: white;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background-color: #2a2d40;
  font-family: "Roboto", sans-serif;
}

.header {
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin-left: 0px;
}

.header__menu li {
  display: inline-block;
  padding-right: 15px;
  padding-left: 0px;
  font-family: "Russo One", sans-serif;
}

.header__menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxErroPagamento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  max-width: 700px;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
}

.boxErroPagamento__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eb4f4f;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.boxErroPagamento__info {
  padding: 10px 20px;
  background-color: #1B1D2A
}

.boxErroPagamento__info li {
  padding: 20px 5px;
}

.boxErroPagamento__revisar {
    display: flex;
    justify-content: center;
}

.boxErroPagamento__pgt a img {
  padding-right: 10px;
  max-width: 75px;
  width: 100%;
  max-height: 42px;
}

.footer {
  margin-top: 40px;
  background-color: #000000;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

#footer__logo {
  max-width: 312px;
  width: 100%;
}

.footer__info ul {
  padding-left: 0px;
}

.footer__redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__redes ul {
  padding-left: 0px;
}

.footer__redes li {
  display: inline-block;
  padding-right: 5px;
}

.footer__termos {
  padding-bottom: 25px;
}

.footer__hr {
  margin: 8px 40px;
}

.footer__termos li {
  display: inline-block;
  padding-right: 10px;
}
