* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  margin: 50px auto;
  max-width: 320px;
}

/* MAIN */

.menu {
  background-color: rgb(27, 29, 42, 80%);
}

.menu__div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
}

.menu__close {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  width: 90%;
}

.menu__close-img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.menu__search {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.menu__searchbar {
    padding: 5px 20px;
    width: 70%;
}

.menu__loupe {
    padding: 5px;
    cursor: pointer;
}

.menu__search-input {
    padding: 5px 20px;
    border-radius: 6px;
    border-color: transparent;
    width: 90%;
}

li, a {
    margin: 20px 0;
    padding: 10px 0;
    list-style: none;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    color: #fff;
    line-height: 23px;
}

a:hover {
    color: rgba(114,237,242,1);
    transition: all 0.8s;
}

.menu__list {
    margin: 0 -20px;
}

.menu__stormgames {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    align-content: center;
    width: 90%;
}

@media screen and (min-width: 150px) and (max-width: 320px){
    .container {
        width: 90%;
    }
}